
.icon-plus-circled:before { content: '\e800'; } /* '' */
.icon-minus-circled:before { content: '\e801'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */